.footer {
	@media(max-width: 1365px) {
		width: 90%;
	}
	padding-top: 250px;
	a:hover {
		text-decoration: underline;
	}
}

.upper-footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer-links-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer-links {
	column-count: 3;
	column-gap: 50px;
	font-size: 16px;
	color: $grey;
	li {
		padding: 5px 0;
	}
}

.footer-links,
.social-links {
	list-style-type: none;
}

.social-links {
	display: flex;
	padding-top: 15px;
	img {
		width: 40px;
		height: 40px;
		padding-right: 10px;
	}
}

.footer-logo {
	width: auto;
	height: 100%;
}

.copyright {
	width: 100%;
	height: 50px;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid $grey;
}

@media(max-width: 480px) {
	.footer {
		padding-top: 150px;
	}

	.footer-links {
		column-count: 2;
	}
}

@media(max-width: 768px) {
	.upper-footer {
		width: 80%;
		margin: 0 auto;
	}

	.footer-links-wrap {
		width: 100%;
	}

	.footer-logo {
		width: 50%;
		margin-top: 20px;
	}
}