.get-started-section {
	text-align: center;
	p {
		padding: 40px 0 25px;
	}
	.button {
		text-transform: uppercase;
		cursor: pointer;
		font-size: 22px;
		padding: 10px 0;
		border-radius: 40px;
		width: 140px;
	}
}

.signup-form {
	display: flex;
	align-items: center;
	justify-content: center;
}

.input {
	line-height: 22px;
	width: 300px;
	padding: 10px 0;
	margin-right: 12px;
	text-indent: 15px;
	border: 1px solid $black;
	border-radius: 10px;
	&:focus {
		outline: none;
	}
}

.note-text {
	font-style: italic;
	font-size: 16px;
}

@media(max-width: 768px) {
	.signup-form {
		display: block;
	}

	.signup-input {
		width: 80%;
		margin: 5px 0;
	}

	.get-started-section {
	.button {
		padding: 5px 25px;
		margin-top: 15px;
	}
}
}