// Navigation styles

.header {
	z-index: 2;
	position: fixed;
	height: 80px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 2px 3px rgba(35, 31, 32, .25);
}

.navbar {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;
}

.logo {
	width: 60px;
	height: 60px;
}

.mobile-menu-button {
	display: none;
	.open {
		span:first-of-type,
		span:nth-of-type(4) {
			opacity: 0;
		}
		span:nth-of-type(2) {
			transform: rotate(45deg);
		}
		span:nth-of-type(3) {
			transform: rotate(-45deg);
		}
	}
}

.mobile-menu-icon {
	width: 40px;
	height: 24px;
	position: relative;
	span {
		display: block;
    position: absolute;
  	height: 2px;
  	width: 100%;
  	background-color: #000;
  	transition: all 0.2s ease-in-out 0s;
		&:first-of-type {
			top: 0;
		}
		&:nth-of-type(2),
		&:nth-of-type(3) {
			width: 80%;
			margin-left: 20%;
			top: 11px;
		}
		&:nth-of-type(4) {
			top: 22px;
		}
  }
}

.navbar-ul {
	display: flex;
	list-style: none;
	a {
		padding: 5px 20px 5px 0;
		&:hover {
			&:after {
				content: '';
					 height: 1px;
					 background: black; 
					 display:block;
			}
		}
		&:last-of-type {
			padding: 5px 15px;
			&:after {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 769px) {
	.navbar {
		width: 90%;
	}
	.mobile-menu-button {
		display: block;
	}
	.navbar-ul {
		display: none;
	}
}