// Navigation styles

.header {
	z-index: 4;
	position: fixed;
	height: 80px;
	width: 100%;
	background-color: $white;
	box-shadow: $shadow;
}

.navbar {
	width: 82.5%;
	max-width: $max-w;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;
}

.logo {
	width: 80px;
	height: 80px;
	vertical-align: middle;
}

.mobile-menu-button {
	display: none;
	.open {
		span:first-of-type,
		span:nth-of-type(4) {
			opacity: 0;
		}
		span:nth-of-type(2) {
			transform: rotate(45deg);
		}
		span:nth-of-type(3) {
			transform: rotate(-45deg);
		}
	}
}

.mobile-menu-icon {
	width: 36px;
	height: 21px;
	position: relative;
	span {
		display: block;
    position: absolute;
  	height: 1px;
  	width: 100%;
  	background-color: $black;
  	transition: $transition;
		&:first-of-type {
			top: 0;
		}
		&:nth-of-type(2),
		&:nth-of-type(3) {
			width: 80%;
			margin-left: 20%;
			top: 10px;
		}
		&:nth-of-type(4) {
			top: 20px;
		}
  }
}

.navbar-ul {
	display: flex;
	list-style: none;
	align-items: center;
	@media(min-width: 1365px) {
		.active {
			&:after {
				content: '';
				height: 1px;
				background: $black; 
				display: block;
			}
		}
	}
	.navbar-ul--li {
		padding: 5px 25px 5px 0;
		@media(min-width: 1365px) {
			&:hover {
				&:after {
					content: '';
					height: 1px;
					background: $black; 
					display: block;
				}
				&:last-of-type {
					&:after {
						display: none;
					}
				}
			}
		}
		&:last-of-type {
			padding: 5px 0;
		}
	}
	.demo {
		&:hover {
			&:after {
				display: none;
			}
		}
	}
}

.lang {
	a {
		&:hover {
			text-decoration: underline;
		}
	}
}
.active-lang {
	font-weight: 500;
}

@media screen and (max-width: 1365px) {
	.navbar {
		width: 90%;
	}
	.mobile-menu-button {
		display: block;
	}
	.navbar-ul {
		flex-direction: column;
		align-items: normal;
		padding-top: 80px;
		width: 60%;
		margin: 0 auto;
		.navbar-ul--li {
			position: relative;
			padding: 0;
			margin: 10px 0;
			a {
				margin-left: 20px;
			}
		}
		.demo {
			&:before {
				display: none;
			}
			a {
				margin-left: 0;
			}
		}
		.lang {
			a {
				margin-right: 20px;
			}
		}
		.active {
			&:before {
				content: '';
				height: 100%;
				width: 1px;
				background: $black; 
				position: absolute;
			}
		}
	}

	.mobile-menu-wrap {
		width: 80vw;
		max-width: 300px;
		height: 100vh;
		top: 0;
		right: 0;
		position: fixed;
		background-color: $white;
		margin: 0 -80vh 0 0;
		transition: $transition;
		box-shadow: $shadow;
	}

	.mobile-menu-show {
		margin: 0;
	}
}