.intro-section {
	height: 85vh;
	display: flex;
	align-items: center;
	padding-top: 0;
}

.intro-text {
	width: 50%;
}

.headline {
	font-size: 70px;
	line-height: 1;
}

.subheadline {
	margin-top: 20px;
}

.intro-img {
	margin-left: 5%;
	max-height: 100%;
	max-width: 45%;
}

@media(max-width: 1024px) {
	.intro-text {
		width: 100%;
	}
	.intro-img {
		display: none;
	}
	.headline {
		font-size: 44px;
	}
}