.intro-section {
	height: 85vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	z-index: 2;
	padding-top: 0;
}

.intro-text {
	width: 52.5%;
}

.headline {
	font-size: 72px;
	@media(min-width: 1600px) {
		font-size: 82px;
	}
	line-height: 1.15;
	font-weight: 800;
}

.subheadline {
	margin-top: 25px;
	font-size: 20px;
	@media(min-width: 1600px) {
		font-size: 23px;
	}
}

@media(min-width: 769px) and (max-width: 1024px) {
	.headline {
		font-size: 58px;
	}
}

@media(min-width: 769px) {
	.intro-img {
		margin-left: 5%;
		max-height: 100%;
		max-width: 42.5%;
	}
}

@media(max-width: 480px) {
	.intro-section {
		padding-top: 15%;
		height: 70vh;
	}
	.intro-text {
		width: 100%;
	}
	.intro-img {
		width: 70%;
	}
	.headline {
		font-size: 40px;
	}
}

@media(min-width: 481px) and (max-width: 768px) {
	.intro-section {
		padding-top: 15%;
		width: 80%;
	}
	.headline {
		font-size: 54px;
	}
	.intro-text {
		width: 100%;
	}
	.intro-img {
		width: 80%;
	}
}