.intro-section {
	height: 85vh;
	display: flex;
	align-items: center;
	padding-top: 0;
	z-index: 2;
	padding-top: 0;
}

.intro-text {
	width: 52.5%;
}

.headline {
	font-size: 72px;
	@media(min-width: 1600px) {
		font-size: 82px;
	}
	line-height: 1.1;
	font-weight: 800;
}

.subheadline {
	margin-top: 25px;
	font-size: 20px;
	line-height: 1.25;
	@media(min-width: 1600px) {
		font-size: 23px;
		line-height: 1.5;
	}
}

.intro-img {
	margin-left: 5%;
	max-height: 100%;
	max-width: 42.5%;
}

@media(max-width: 1024px) {
	.intro-text {
		width: 100%;
	}
	.intro-img {
		display: none;
	}
	.headline {
		font-size: 44px;
	}
}