.pricing-section {
	padding-top: 30px;
}

.pricing-model-wrap {
	@media(min-width: 1025px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	padding-top: 30px;
}

.price-model {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 15px;
	width: 27.5%;
	max-width: 380px;
	height: 480px;
	border-radius: 30px;
	box-shadow: $shadow;
	.button {
		text-transform: uppercase;
		margin-bottom: 50px;
	}
}

.price-model-inner {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 15px;
	width: 80%;
	margin: 0 auto;
	.modules-list {
		padding-top: 15px;
		li {
			padding-top: 5px;
		}
	}
}

.price-model-name {
	padding: 30px 0 0;
	&:after {
		content: '';
		height: 1px;
		background: $grey;
		opacity: .5;
		display: block;
	}
}

.price-tag {
	text-align: center;
	.euro-sign {
		-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
	}
	.euros {
		font-size: 50px;
	}
	.cents {
		font-size: 24px;
	}
}

.package-desc {
	padding-top: 15px;
	text-align: center;
	.package-name {
		font-style: italic;
	}
}

.faq-section {
	width: 90%;
	margin: 0 auto;
	@media(min-width: 480px) {
		width: 80%;
	}
	@media(min-width: 768px) {
		width: 70%;
	}
	@media(min-width: 1024px) {
		width: 60%;
	}
	@media(min-width: 1366px) {
		width: 50%;
	}
	@media(min-width: 1920px) {
		width: 40%;
	}
	.category {
		padding-top: 30px;
		text-decoration: underline;
	}
	.question {
		font-style: italic;
		font-weight: bold;
		padding-top: 15px;
		font-size: 22px;
	}
	.answer {
		padding-top: 5px;
		font-size: 18px;
	}
}

.question-section {
	text-align: center;
}

.question-desc {
	padding-top: 30px;
}

.question-form {
	padding-top: 50px;
	width: 50%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.input {
		margin: 10px 0 0;
		width: 49%;
	}
	.text-input {
		width: 100%;
		height: 150px;
	}
	.button {
		font-size: 22px;
		margin: 30px auto;
	}
}

@media(max-width: 480px) {
	.question-form {
		width: 100%;
	}
}

@media(max-width: 550px) {
	.question-form {
		.input {
			width: 100%;
		}
	}
}

@media(max-width: 768px) {
	.price-model {
		width: 90%;
		margin-top: 15px;
	}

	.question-form {
		width: 90%;
	}
}

@media(min-width: 769px) and (max-width: 1024px) {
	.price-model {
		width: 50%;
		margin: 0 auto;
	}
}

@media(max-width: 1366px) {
	.question-form {
		width: 70%;
	}
}