// General style rules

// Variables

// Max width of content
$max-w: 1800px;

// Colors
$black: #000000;
$white: #ffffff;
$grey: #727272;
$accent_col: #30de80;
$text_col: #292828;

$shadow: 0 0 5px rgba(35, 31, 32, .25);

$transition: all 0.3s ease-in-out 0s;

body {
	font-family: 'Poppins', sans-serif;
	font-size: 17px;
	color: $text_col;
	line-height: 1.3;
	font-weight: 300;
}

// Imports
@import 'header';
@import 'intro-section';
@import 'why-ezuro';
@import 'get-started';
@import 'footer';
@import 'backgrounds';
// Pages
@import 'pricing';
@import 'features';
@import 'signup';

// Reset
* {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: $text_col;
}
button {
	border: none;
	background: none;
	&:focus {
		outline: none;
	}
}
section,
footer {
	padding-top: 150px;
	width: 82.5%;
	max-width: $max-w;
	margin: 0 auto;
}

section:first-of-type {
	padding-top: 0;
	position: relative;
}

article {
	position: relative;
}

ul {
	list-style-type: none;
}

// Fonts

.h1 {
	font-size: 40px;
	text-align: center;
	font-weight: 700;
}

.h2 {
	font-size: 28px;
	font-weight: 700;
}

.h3 {
	font-size: 20px;
	font-weight: 600;
}

strong {
	font-weight: 500;
}

textarea {
	font-family: 'Poppins', sans-serif;
}

// Wrapper
.wrapper {
	padding-top: 80px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

@media(max-width: 1365px) {
	section {
		width: 90%;
	}
}

// Buttons and inputs
.button {
	border-radius: 20px;
	padding: 5px 0;
	transition: all .3s ease;
	white-space: nowrap;
	display: inline-block;
	width: 130px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 500;
	box-shadow: $shadow;
}

.green-button {
	background-color: $accent_col;
	border: 1px solid $accent_col;
	&:hover {
		background-color: $white;
		border: 1px solid $accent_col;
	}
}

.black-button {
	background-color: $white;
	border: 1px solid $text_col;
	&:hover {
		color: $white;
		background-color: $text_col;
	}
}

.feature-list,
.price-model-inner {
	li:before {
		line-height: normal;
		vertical-align: middle;
		content: "";
		display: inline-block;
		background-image: url("../img/list-icon.svg");
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 7px;
		height: 7px;
		margin-right: 10px;
	}
}

.input {
	background-color: $white;
}