// General style rules

// Fonts
/*
@font-face {
    font-family: Century Gothic;
    src: url(../fonts/GOTHIC.ttf);
    font-weight: normal;
		font-style: normal;
}
@font-face {
    font-family: Century Gothic;
    src: url(../fonts/GOTHICB.ttf);
    font-weight: bold;
		font-style: normal;
}
@font-face {
    font-family: Century Gothic;
    src: url(../fonts/GOTHICBI.ttf);
    font-weight: bold;
		font-style: italic;
}
@font-face {
    font-family: Century Gothic;
    src: url(../fonts/GOTHICI.ttf);
    font-weight: normal;
		font-style: italic;
}
*/

// Variables

// Max width of content
$max-w: 1800px;

// Colors
$black: #000000;
$white: #ffffff;
$grey: #727272;
$accent_col: #30de80;
$text_col: #292828;
// $gradient: linear-gradient(#11998e, #38ef7d);

$shadow: 0 2px 3px rgba(35, 31, 32, .25);

$transition: all 0.3s ease-in-out 0s;

body {
	font-family: 'Poppins', sans-serif;
	// font-family: 'Century Gothic', sans-serif;
	font-size: 17px;
	color: $text_col;
	line-height: 1.3;
	font-weight: 300;
}

// Imports
@import 'header';
@import 'intro-section';
@import 'features';
@import 'get-started';
@import 'footer';

@import 'pricing';

// Reset
* {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: $text_col;
}
button {
	border: none;
	background: none;
	&:focus {
		outline: none;
	}
}
section {
	padding-top: 150px;
	width: 80%;
	max-width: $max-w;
	margin: 0 auto;
}
.h1 {
	font-size: 40px;
	text-align: center;
	font-weight: 700;
}

.h2 {
	font-size: 28px;
	font-weight: 700;
}

.h3 {
	font-size: 20px;
	font-weight: 600;
}

/*
::-webkit-input-placeholder {
    font-family: Century Gothic;
}
:-moz-placeholder {
    font-family: Century Gothic;
}
::-moz-placeholder {
    font-family: Century Gothic;
}
:-ms-input-placeholder {
    font-family: Century Gothic;
}
*/

// Wrapper
.wrapper {
	padding-top: 80px;
	width: 100%;
	margin: 0 auto;
	// background-image: url("../img/bg.svg");
	// background-size: cover;
}

@media(max-width: 1024px) {
	section {
		width: 90%;
	}
}

// Buttons
.button {
	border-radius: 20px;
	padding: 5px 0;
	transition: all .3s ease;
	white-space: nowrap;
	display: inline-block;
	width: 130px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 500;
	box-shadow: $shadow;
}

.green-button {
	background-color: $accent_col;
	border: 1px solid $accent_col;
	&:hover {
		background-color: $white;
		border: 1px solid $accent_col;
	}
}

.black-button {
	background-color: $white;
	border: 1px solid $text_col;
	&:hover {
		color: $white;
		background-color: $text_col;
	}
}

ul {
	list-style-type: none;
}

.feature-list,
.price-model-inner {
	li:before {
		line-height: normal;
		vertical-align: middle;
		content: "";
		display: inline-block;
		background-image: url("../img/list-icon.svg");
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 7px;
		height: 7px;
		margin-right: 10px;
	}
}